<template name="residentStats">

    <!--Here to override some rules in custom.css, as opposed to getting placed in <head>-->
    <style>
        .tile-stats {
            padding-bottom: 15px;
        }
    </style>

    <div class="row top_tiles">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="count">{{ resident_count }}</div>
                <h3>Total Residents</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="count">{{ residents_present }}</div>
                <h3>Residents Present</h3>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="count">{{ residents_absent }}</div>
                <h3>Residents Absent</h3>

            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="count">{{ percent_present }}%</div>
                <h3>Percent Present</h3>

            </div>
        </div>
    </div>


    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="x_panel" style="max-height: 273px; overflow: auto;">
            <div class="x_title">
                <h2>Resident Presence</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <canvas id="presenceChart">{{presenceChart}}</canvas>
            </div>
        </div>
    </div>


    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel" style="max-height: 273px; overflow: hidden;">
            <div class="x_title">
                <h2>Present Residents with Highest Salaries
                    <!--<small>basic table subtitle</small>-->
                </h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Salary</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{#each topResidents}}
                        <tr>
                            <td>{{ count }}</td>
                            <td>{{ lastName }}</td>
                            <td>{{ firstName }}</td>
                            <td>{{ salary }}</td>
                        </tr>
                    {{/each}}

                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="x_panel" style="max-height: 273px; overflow: auto;">
            <div class="x_title">
                <h2>Resident Demographics</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <canvas id="demographicChart">{{demographicChart}}</canvas>
            </div>
        </div>
    </div>

</template>
