<template name="residentsPresent">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>Demographic</th>
            <th>Present / Absent</th>
        </tr>
        </thead>
        <tbody>
        {{#each residents}}
            {{> residentPresentRow}}
        {{/each}}
        </tbody>
    </table>
</template>

<template name="residentPresentRow">
    <tr data-mongoid={{ _id }}>
        <th scope="row">{{ id }}</th>
        <td>{{ firstName }}</td>
        <td>{{ lastName }}</td>
        <td>{{ sex }}</td>
        <td>{{ race }}</td>
        <td>
            <label>
                Present: <input type="checkbox" class="js-switch" {{ isChecked }}/>
            </label>
        </td>
    </tr>
</template>
