<template name="residentsTable">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>Date of Birth</th>
            <th>Race</th>
            <th>Occupation</th>
            <th>Salary</th>
            <th>Apartment</th>
        </tr>
        </thead>
        <tbody>
        {{#each residents}}
            {{> residentRow}}
        {{/each}}
        </tbody>
    </table>


</template>

<template name="residentRow">
    <tr>
        <th><button class="delete"><i class="fa fa-trash"></i></button></th>
        <th scope="row">{{ id }}</th>
        <td>{{ firstName }}</td>
        <td>{{ lastName }}</td>
        <td>{{ sex }}</td>
        <td>{{ dateOfBirth }}</td>
        <td>{{ race }}</td>
        <td>{{ occupation }}</td>
        <td>{{#if salary}}${{/if}}{{ salary }}</td>
        <td>{{ apartment }}</td>
    </tr>
</template>
