<template name="apartmentsTable">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Apt #</th>
            <th>Lease</th>
            <th>Residents</th>
        </tr>
        </thead>
        <tbody>
        {{#each apartments}}
            {{> apartmentRow}}
        {{/each}}
        </tbody>
    </table>
</template>

<template name="apartmentRow">
    <tr>
        <th scope="row">{{ _id }}</th>
        <td>
            {{#if lease }}
                Yes
            {{else}}
                No
            {{/if}}
        </td>
        <td>{{ residents.length }}</td>
    </tr>
</template>
