<template name="leasesTable">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Apt #</th>
            <th>Rent</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Signer</th>
        </tr>
        </thead>
        <tbody>
        {{#each leases}}
            {{> leaseRow}}
        {{/each}}
        </tbody>
    </table>
</template>

<template name="leaseRow">
    <tr>
        <th scope="row">{{ apartment }}</th>
        <td>{{#if rent}}${{/if}}{{ rent }}</td>
        <td>{{ startDate }}</td>
        <td>{{ endDate }}</td>
        <td>{{ signer.firstName }} {{ signer.lastName }}</td>
    </tr>
</template>
